<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuerda</title>

    <%- include ('partials/head.html') %>
    <style type="text/css">
        p {color:darkblue}
        </style>
</head>
<body>
    <%- include ('partials/navigation.html') %>

    <div class="contenedor">
        <h1 class="titulo">
            Ejemplo de instrumentos
        </h1>
        <img src="img/cuerda.jpg">
        <h2 class="sub-titulo">
            Definición y división
        </h2>
        <p>Los instrumentos de cuerda o cordófonos son instrumentos musicales que producen sonidos por medio de las vibraciones de una o más cuerdas, usualmente amplificadas por medio de una caja de resonancia. Estas cuerdas están tensadas entre dos puntos del instrumento y se hacen sonar pulsando, frotando o percutiendo la cuerda.</p>
        <p>En la orquesta clásica, se llama «cuerdas» al conjunto de instrumentos de cuerda frotada formado por los grupos de violines (normalmente divididos en violines primeros y segundos), violas, violonchelos y contrabajos. Lo mismo sucede con la orquesta de cuerdas, que está conformada por los mismos instrumentos. De forma similar se habla de un trío, cuarteto o quinteto de cuerdas, cuando se trata de agrupaciones de violín, viola y violonchelo.</p>
        <p>Pertenecen al grupo instrumentos de cuerdas frotadas o de arco aquellos cuyo sonido se obtiene a través de un arco (generalmente con el arco hecho de madera, que es la zona de sujeción, y un conjunto de cerdas de crin tensadas debido a que se sujetan a los dos extremos del arco y con las que se frotan las cuerdas), aunque también existe una técnica de «pellizcar» la cuerda, llamada pizzicato.</p>
        <p>Los instrumentos de cuerda pulsada, pinzada o punteada son aquellos instrumentos de cuerda en los que la cuerda vibra tras ser pulsada o punteada por los dedos, produciendo el sonido. Además de los dedos, también se puede utilizar un plectro.Pueden ser de una caja para obtener amplitud de sonido, o sin ésta, como el címbalo con mazos o el kayagum.</p>
        <p>Los instrumentos de cuerdas percutidas o golpeadas son de cuerdas que se golpean o percuten (generalmente con unos pequeños macillos).
    </div>


    <%- include ('partials/footer.html') %>
</body>
</html>