<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrumentos Eléctricos</title>
    <%- include ('partials/head.html') %>
    <style type="text/css">
        p {color:darkblue}
        </style>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="contenedor">
        <h1 class="titulo">
            Ejemplo de instrumentos
        </h1>
        <img src="img/electricos.jpg">
        <h2 class="sub-titulo">
            Definición
        </h2>
        <p>Un instrumento musical eléctrico es uno en el cual el uso de aparatos eléctricos determina o afecta el sonido producido por un instrumento. Es también considerado como un instrumento musical amplificado debido a la utilización de un amplificador electrónico del instrumento para proyectar el sonido pretendido como determinado por señales electrónicas del instrumento mecánico. Esto no es lo mismo que un instrumento musical electrónico, lo cual usa una manera enteramente electrónica para crear y controlar el sonido.</p>
        <p>Un instrumento electrónico es un instrumento musical que produce sonidos usando la electrónica (energía eléctrica). El mismo se distingue de un instrumento tradicional eléctricamente amplificado, que es parecido a su versión acústica, pero que requiere que la amplificación se realice por medios electrónicos, como es el caso de la guitarra eléctrica.</p>
        <p>Los instrumentos electrófonos son la última familia en integrarse a la clasificación Sachs-Hornbostel, aproximadamente en 1940.</p>
        <p>Los instrumentos mecánico-eléctricos o electromecánicos son los instrumentos musicales que mezclan elementos mecánicos y eléctricos para generar el sonido, como por ejemplo, el Órgano Hammond o Melotrón.</p>
    </div>
    <%- include ('partials/footer.html') %>
</body>
</html>