<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Percusión</title>
    <%- include ('partials/head.html') %>
    <style type="text/css">
        p {color:darkblue}
        </style>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="contenedor">
        <h1 class="titulo">
            Ejemplo de instrumentos
        </h1>
        <img src="img/percusion.jpg">
        <h2 class="sub-titulo">
            Definición y clasificación
        </h2>
        <p>Un instrumento de percusión es un tipo de instrumento musical cuyo sonido se origina al ser golpeado o agitado. Es quizá, la forma más antigua de instrumento musical.</p>
        <p>La percusión se distingue por la variedad de timbres que es capaz de producir y por su facilidad de adaptación con otros instrumentos musicales. Cabe destacar que puede obtenerse una gran variedad de sonidos según las baquetas o mazos que se usan para golpear algunos de los instrumentos de percusión.</p>
        <p>Un instrumento de percusión puede ser usado para crear patrones de ritmos (batería, tam-tam entre otros) o bien para emitir notas musicales (xilófono). Suele acompañar a otros con el fin de crear y mantener el ritmo. Algunos de los instrumentos de percusión más famosos son el redoblante (tambor) y la batería.</p>
        <p>Los instrumentos de percusión pueden clasificarse en dos categorías según la afinación:</p>
        <p>De altura definida (afinados): Los que producen notas identificables. Es decir, aquellos cuya altura de sonido está determinada. Algunos son: el timbal, el vibráfono, la campana, la campana tubular, los tambores metálicos de Trinidad o el Glockenspiel, que es como un xilófono pero con láminas de metal.</p>
        <p>De altura indefinida (no afinados): Los que producen notas no identificables, es decir, producen notas de una altura indeterminada.</p>
    </div>
    <%- include ('partials/footer.html') %>
</body>
</html>