<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viento</title>
    <%- include ('partials/head.html') %>
    <style type="text/css">
        p {color:darkblue}
        </style>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="contenedor">
        <h1 class="titulo">
            Ejemplo de instrumentos
        </h1>
        <img src="img/viento.jpg">
        <h2 class="sub-titulo">
            Definición y clasificación
        </h2>
        <p>Los instrumentos de viento o aerófonos son una familia de instrumentos musicales los cuales producen el sonido por la vibración de la masa de aire en su interior, sin necesidad de cuerdas o membranas porque solo requiere de la vibración del aire. Los aerófonos de metal producen un sonido de timbre fuerte. En este caso, el músico hace vibrar sus labios en una boquilla que genera la frecuencia acústica. Entre los aerófonos de metal podemos nombrar a la trompeta, la tuba y el trombón, también entre otros más etc</p>
        <p>Los instrumentos de viento son aquellos que emiten sonidos al exhalar aire a convenientemente expulsado.</p>
        <p>Los instrumentos de viento se pueden clasificar en dos categorías. Estas categorías se dividen atendiendo al material con el que se produce el timbre:</p>
        <p>Instrumentos de metal. El timbre suele ser fuerte, brillante y con sonido metálico. El sonido en estos instrumentos se produce por la vibración de los labios en una boquilla metálica en forma de copa, que produce la frecuencia acústica.</p>
        <p>Instrumentos de madera. El timbre de estos instrumentos es más suave y melodioso que el de los metales. El sonido se produce al soplar sobre un agujero (embocadura de bisel) o haciendo vibrar una caña de lengüeta doble o simple</p>
    </div>
    <%- include ('partials/footer.html') %>
</body>
</html>